{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'registry/admin/admin_menu.css' %}?v=6">
  <link rel="stylesheet" href="{% static 'registry/admin/changelist_patch.css' %}?v=6">
  <style>
    .cr-admin-side { display: none !important; }
    .cr-admin-layout { display: block !important; }
    .cr-admin-main { width: 100% !important; }
  </style>
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'registry/admin/admin_menu.js' %}?v=6" defer></script>
  <script src="{% static 'registry/admin/changelist_patch.js' %}?v=6" defer></script>
{% endblock %}

{% block content_container %}
  {{ block.super }}
{% endblock %}